.card {
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 1%;
  left: 49%;
  font-weight: 600;
}
li {
  list-style: none;
}
ul {
}
@media screen and (max-width: 1300px) {
  .card {
    margin-bottom: -40px;
  }
}
