body {
  background-color: aliceblue;
}
.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}
select {
  text-align: center;
  padding: 5px 50px;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 30px;
  border-color: black;
  width: 295px;
}
.options {
  font-weight: 500;
  display: block;

  text-align: center;
}
.title {
  border-radius: 10px;
  width: 290px;
  height: 30px;
  border-color: black;
}

.abstract {
  border-radius: 10px;
  border-color: black;
  margin-top: 10px;
  width: 290px;
}
